.homepage {
    background-image: url('../photo-1481007553706-bde1ba8e91fd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.homepage-content {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
}

.homepage-content div, .homepage-content a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.homepage-content div {
    padding: 30px;
}

.homepage-content a {
    padding: 2% 3%;
    background-color: white;
    color: #1d3557;
    border-radius: 10px;
}


.homepage-content a:hover {
    opacity: 0.9
}
